/* BASE STYLES */

body {
    font-family:'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 12px;
}

h2 {
    line-height: 42px;
}

h3 {
    font-size: 18px;
    font-family: monospace;
    margin: 20px 0;
    padding: 20px 0px;
    font-weight: 500;
}

/* CONTAINER STYLES */

.container {
    width: 80%;
    margin: 20px auto;
    overflow: auto;
}

/* HEADER */

header {
    background: #f7bee3;
    color: black;
    font-size: 32px;
    font-family:'Bungee Shade', cursive;
    padding: 25px 25px;
    overflow: auto;
}

header .name {
    font-size: 18px;
    text-align: right;
    margin-top: 5px;
}

/* INTRO PAGE STYLES */

.intro {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin: 25px;

}

.fine-print {
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 18px;
    font-family: monospace;
}

.btn {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.5;
    border-radius: 0;
    color: #fff465;
    background-color:  #e66f20;
    border-color: transparent;
    margin-top: 40px;
}

.btn:hover {
    background-color: #fff465;
    color: #e66f20;
    border-color:#e66f20;
    border-width: 2px;
}

/* QUESTION STYLES */

li {
    list-style: none;
    margin: 10px 10px;
}

button {
    font-size: 12px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color:  #e66f20;
    background-color: #fff465;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 15px;
}

button:hover {
    background-color: #e66f20;
    color: #fff465;
}

a {
    color: black;
    background-color: #69cae8;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 15px;
    margin: 30px 0px;
}

a:hover{
    color: #69cae8;
    background-color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 15px;
    margin: 30px 0px;

}

#restart a {
    font-size: 14px;
    color:  black;
    font-weight: 500;
    background-color:  #fff465;
    padding: 5px 5px;
}

#restart a:hover {
    font-size: 14px;
    color:white;
    font-weight: 500;
    background-color: #69cae8;
    padding: 5px 5px;
}

form {
    margin: 20px 20px;
}

p {
    margin: 40px 0 -10px 0;
}

/* USER INPUT PAGE STYLES */

.formBox {
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: lowercase;
    
}
  
.enterName {
    padding: 0 15px;
}

.enterScore {
    padding: 0 15px;
}

.saveDetails {
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color:  #e66f20;
    background-color: #fff465;
    text-transform: uppercase;
    padding: 15px 15px;
    margin: 15px;
}

.saveDetails:hover {
    background-color: #e66f20;
    color: #fff465;
}

/* FOOTER STYLES */

footer {
    background: #f7bee3;
    color:black;
    font-family: monospace;
    font-weight: 400;
    margin-top: 25px;
    padding: 20px 20px;
    overflow: auto;
    font-size: 22px;
}

.float-left .total {
    float: left;
    font-family: 'IBM Plex Sans', sans-serif;
}


.disclaimer {
    font-family: monospace;
    font-size: 8px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 790px) {
    .container {
        width: 100%;
    }

    header .title {
        font-size: 34px;
        font-family: 'Bungee Shade', cursive;
        font-weight: 600;
        margin-top: 25px;
    }
    header .name {
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        margin-top: 25px;
    }

    .float-left {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    .float-right {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    p .disclaimer {
        font-weight: lighter;
    }
}